@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.login_page{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.form-control{
    border: 1px solid #dadbdc;
    border-radius: 3px;
    min-height: 47px;
}
.btn{
    border-radius: 3px;
}
.text-uppercase{
    font-size: 16px;
    font-weight: bold;
    padding: 15px 20px;
    letter-spacing: 1px;
}
.form-check-input{
    border-radius: 3px !important;
    border:1px solid #dadbdc !important;
}
.bg-dark{
    background-color: #6cb5b2 !important;
}
.footer-bottom {
    background-color: #15224f;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}
